{% extends 'layout/basic.html' %}

{% load thumbnail %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}{{ catalog }}{% endblock %}

{% block content %}
<h2 class="mb-2">{{ catalog }}</h2>
<form class="row row-cols-md-auto justify-content-end">
    {% bootstrap_field form.keyword show_label=False wrapper_class='col-12' %}

    <div class="col-12">
        {% bootstrap_button 'Поиск' %}
    </div>
    <div class="button">
        <a class="btn btn-primary" href="{% url 'main:lesson_add' %}" role="button">
            Добавить конспект</a>
    </div>
</form>
{% if lesson %}
<div class="vstack gap-3 my-4">
    {% for les in lesson %}
    <div class="card">
        {% url 'main:lesson_detail' catalog_pk=catalog.pk pk=les.pk as url %}
        <div class="row p-3">
            <a class="col-md-1" href="{{ url }}{{ all }}">
                {% if les.image %}
                <img class="img-fluid"
                    src="{% thumbnail les.image 'default' %}">
                {% else %}
                <img class="img-fluid" src="{% static 'main/empty.png' %}">
                {% endif %}
            </a>
            <div class="col-md-10 card-body">
                <h3 class="card-title"><a href="{{ url }}{{ all }}">
                {{ les.title }}</a></h3>
                <p class="card-text fw-bold">{{ les.date }}</p>
                <p class="card-text text-end fst">{{ les.created_at }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<form class="row row-cols-md-auto justify-content-end">
<div>
    <p class="button">
        <a class="btn btn-secondary" href="{% url 'main:catalog_edit' pk=catalog.pk %}">Изменить курс</a>
        <a class="btn btn-danger" href="{% url 'main:catalog_delete' pk=catalog.pk %}">Удалить курс</a>
    </p>
</div>
</form>
{% bootstrap_pagination page url=keyword %}
{% endif %}
{% endblock %}